@charset "utf-8";
@import '../utility/*';
.contact {
	.content-inner {
		.cmn-title {
			margin: 0 auto;
		}
		.cmn-box-contact {
			margin: -25px 0 -10px;
			@include min-screen(768px) {
				margin: -10px 0;
			}
			@include min-screen(992px) {
				margin: -25px 0 -10px;
			}
			.b-address {
				@include justify-content(space-between);
				margin: 0 -30px;
				&-item {
					width: initial;
					padding: 0 30px;
					&:last-child {
						margin: 0 30px 0 0;
					}
				}
			}
			.box-contact-form {
				padding: 10px 10px 15px;
				&-item {
					width: 100% !important;
					max-width: 100% !important;
					@include flex(0 0 100% !important);
				}
				button {
					margin: 5px 10px 0;
				}
			}
		}
	}
}