@charset "utf-8";
@import '../utility/*';
.design {
	.content-inner {
		.design-block {
			&-wrap {
				margin: 30px 0 0;
				&--item {
					&:not(:last-child) {
						margin: 0 0 65px;
					}
					.icon {
						text-align: center;
						margin: 0 0 10px;
					}
					.ttl {
						@include font-line-spacing(27,30);
						text-transform: uppercase;
						@include ffFuHeavy;
						text-align: center;
						margin: 0 0 20px;
						@include min-screen(768px) {
							@include font-line-spacing(22,25);
						}
						@include min-screen(992px) {
							@include font-line-spacing(27,30);
						}
						@include SP {
							@include font-line-spacing(22,25);
							margin: 0 0 10px;
						}
					}
					.b-ctn {
					}
				}
			}
		}
	}
}