@charset "utf-8";
@import '../utility/*';
.gallery {
	.content-inner {
		padding: 20px 23px 13px 22px;
		.gallery-blocks {
			@include clearfix();
			margin: 40px 0 0;
			@include SP {
				margin: 20px 0 0;
			}
			.grid {
				margin: 0 -7px;
				&-item {
					width: 50%;
					overflow: hidden;
					padding: 7px;
					img {
						width: 100%;
						display: block;
					}
				}
			}
		}
	}
}