@charset "utf-8";
@import '../utility/*';
.general {
	.content-inner {
		.cmn-subpage-tit {
			margin: 0;
		}
		.main-img {
			margin: 35px 0 0;
			@include SP {
				margin: 20px 0 0;
			}
		}
		.cmsContent {
			margin: 25px 0 0;
			@include SP {
				margin: 15px 0 0;
			}
		}
	}
}