@charset "utf-8";
@import '../utility/*';
.location {
	.location-blocks {
		&--item {
			&:not(:last-child) {
				margin: 0 0 72px;
				@include SP {
					margin: 0 0 35px;
				}
			}
			.main-img {
				text-align: center;
				margin: 42px 0 0;
				@include SP {
					margin: 25px 0 0;
				}
				img {
					border: 16px solid #ee3129;
					@include SP {
						border-width: 8px;
					}
				}
			}
			.b-ctn {
				margin: 25px 0 0;
				@include SP {
					margin: 15px 0 0;
				}
			}
		}
	}
}