@charset "utf-8";
@import '../utility/*';
.produce {
	.content-inner {
		padding: 20px 0 0 24px;
		.img-wrap {
			float: right;
			margin: 0 -24px 0 0;
			position: relative;
			display: inline-block;
			-webkit-shape-outside: ellipse(506px 506px at 100% 100%);
		    shape-outside: ellipse(506px 506px at 100% 100%);
		    @include min-screen(768px) {
		    	width: 76%;
		    	-webkit-shape-outside: ellipse(310px 310px at 85% 79%);
			    shape-outside: ellipse(310px 310px at 85% 79%);
		    }
		    @include min-screen(992px) {
		    	width: initial;
		    	-webkit-shape-outside: ellipse(506px 506px at 100% 100%);
			    shape-outside: ellipse(506px 506px at 100% 100%);
		    }
		    @include SP {
		    	display: none;
		    }
		}
		.cmsContent {
			margin: 45px 0 0;
			padding: 0 24px 0 0;
			@include clearfix();
			position: relative;
			overflow: hidden;
			@include SP {
				margin: 25px 0 0;
				padding: 0 0 40px;
			}
		}
	}
	.footer {
		margin: 240px 0 0;
		@include SP {
			margin: 120px 0 0;
		}
	}
}