@charset "utf-8";
@import '../utility/*';
.project {
	.content-inner {
		.cmn-subpage-tit {
			margin: 28px 0 40px;
			@include SP {
				margin: 10px 0 20px;
			}
		}
		.cmn-article-blocks {
			&-item {
				.cms-title {
					margin: 40px 0 0;
					@include SP {
						margin: 20px 0 0;
					}
				}
				.b-ctn {
					margin: 30px 0 0;
					@include SP {
						margin: 20px 0 0;
					}
				}
			}
		}
	}
}