@charset "utf-8";
@import '../utility/*';
.service {
	.content-inner {
		.main-img {
			text-align: center;
			img {
				border: 15px solid #ee3129;
			}
		}
		.cmn-btn {
			margin: 30px auto 0;
		}
	}
}