@charset 'UTF-8';
@import '../utility/*';
.top {
	&__mainvisual {
		.slider-top {
			.slick-slide {
				> div {
					line-height: 0;
				}
			}
			.main-img {
				img {
					width: 100%;
					display: block;
				}
			}
		}
		@include SP {
			margin: 0 -15px;
		}
	}
	&__intro {
		margin: 55px 0 0;
		.box-section {
			position: relative;
			&:before {
				content: '';
				width: 1px;
				height: 100%;
				background: #e7e7e7;
				position: absolute;
				left: 50%;
				top: 0;
				@include SP {
					display: none;
				}
			}
			.box-intro {
				&--item {
					figure{
						margin-bottom: 20px;
						@include SP {
							margin-bottom: 10px;
						}
					}
					.cmn-txt {
						margin: 0 0 20px;
					}
					&.box-general {
						@include SP {
							margin: 50px 0 0;
							padding: 20px 15px 0;
							border-top: 1px solid #e7e7e7;
						}
					}
				}
			}
			.box-article {
				&--item {
					.b-info {
						min-height: 135px;
						@include SP {
							min-height: auto;
						}
					}
				}
			}
		}
	}
	&__location {
		margin: 50px 0 0;
	}
	&__utilities {
		margin: 60px 0 0;
		.cmn-sub-tit {
			margin: 25px 0 0;
		}
		.box-related {
			padding: 0 20px;
			margin: 25px -20px 0;
			@include SP {
				margin: 25px -15px 0;
			}
			.box-article {
				&--item {
					padding: 20px 15px 0;
					&:not(:last-child) {
						border-right: 1px solid #e7e7e7;
						@include SP {
							border: none;
						}
					}
				}
			}
		}
	}
	&__design {
		margin: 60px 0 0;
		.box-design {
			border-top: 1px solid #e7e7e7;
			margin: 20px -20px -20px;
			padding: 0 20px;
			&--item {
				text-align: center;
				padding-top: 10px;
				padding-bottom: 20px;
				&:not(:last-child) {
					border-right: 1px solid #e7e7e7;
				}
				.b-info {
					min-height: 230px;
					@include SP {
						min-height: auto;
					}
				}
				.img-icon {
					img {
						@include min-screen(768px) {
							max-width: 80px;
							width: 100%;
						}
						@include min-screen(992px) {
							max-width: 150px;
						}
					}
				}
				.cmn-sub-tit {
					margin: 15px 0 30px;
				}
				.cmn-txt {
					margin: 5px 0 0;
					p {
						&:not(:last-child) {
							margin: 0 0 5px;
						}
					}
				}
			}
		}
	}
	&__project {
		margin: 60px 0 0;
		.box-project {
			border-top: 1px solid #e7e7e7;
			margin: 20px -20px -20px;
			padding: 0 20px;
			.box-article {
				&--item {
					padding-top: 20px;
					padding-bottom: 20px;
					@include SP {
						margin: 0 !important;
					}
					&:not(:last-child) {
						border-right: 1px solid #e7e7e7;
						@include SP {
							border: none;
						}
					}
					.b-info {
						min-height: 195px;
						@include SP {
							min-height: auto;
						}
					}
					.cmn-txt {
						p {
							&:not(:last-child) {
								margin: 0 0 5px;
							}
							&:before {
								content: '>>';
								color: #ee3129;
								@include font-line-spacing(18,24);
								display: inline-block;
								@include SP {
									@include font-line-spacing(14,20);
								}
							}
						}
					}
				}
			}
		}
	}
	&__gallery {
		margin: 55px 0 0;
		.box-gallery {
			margin: 10px 0 0;
			.list-gallery {
				margin: 0 -1px;
				overflow: hidden;
				.slick-slide {
					>div {
						line-height: 0;
					}
				}
				li {
					padding: 0 1px;
					width: 25%;
					@include SP {
						width: 50%;
					}
				}
			}
		}
	}
	&__service {
		margin: 55px 0 0;
		.cmn-title {
			position: relative;
			z-index: 1;
			margin: 0 auto;
		}
		.box-service {
			border: 20px solid #ee3129;
			margin: -20px 0 0;
			@include min-screen(768px) {
				border-width: 15px;
				margin: -15px 0 0;
			}
			@include min-screen(992px) {
				border-width: 20px;
				margin: -20px 0 0;
			}
			@include SP {
				border-width: 10px;
				margin: -10px 0 0;
			}
			figure {
				img {
					width: 100%;
					display: block;
				}
			}
		}
	}
	&__contact {
		margin: 55px 0 0;
		.cmn-title {
			margin: 0 auto -25px;
			@include min-screen(768px) {
				margin: 0 auto -15px;
			}
			@include min-screen(992px) {
				margin: 0 auto -25px;
			}
			@include SP {
				margin: 0 auto -15px;
			}
		}
	}
}