@charset "utf-8";
@import '../utility/*';
.utilities {
	.content-inner {
		.main-img {
			margin: 55px 0 0;
			text-align: center;
			@include SP {
				margin: 25px 0 0;
			}
		}
		.b-ctn {
			margin: 30px 0 0;
		}
	}
}