@charset "UTF-8";
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: 0 auto;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float:right;
}

.alignleft {
	float: left;
}

a img.alignright {
	float: right;
}

a img.alignnone {
	
}

a img.alignleft {
	float: left;
	
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

// CUSTOM

.leftCol {
	width:70%;
	float:left;
}
.rightCol {
	width:30%;
	float:right;
}

.cmsContent {
	-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
		word-wrap: break-word;
	ul,ol {
		padding-left: 20px;
		margin-bottom: 20px;
	}
	ul {
		&[style*="list-style-type: circle;"] {
			li {
				list-style-type: circle;
			}
		}
		&[style*="list-style-type: square;"] {
			li {
				list-style-type: square;
			}
		}
		li {
			list-style: disc;
		}
	}
	ol {
		&[style*="list-style-type: lower-roman;"] {
			li {
				list-style-type: lower-roman;
			}
		}
		&[style*="list-style-type: lower-alpha;"] {
			li {
				list-style-type: lower-alpha;
			}
		}
		&[style*="list-style-type: lower-greek;"] {
			li {
				list-style-type: lower-greek;
			}
		}
		&[style*="list-style-type: upper-alpha;"] {
			li {
				list-style-type: upper-alpha;
			}
		}
		&[style*="list-style-type: upper-roman;"] {
			li {
				list-style-type: upper-roman;
			}
		}
		li {
			list-style-type: decimal;
		}
	}
	iframe {max-width: 100%!important;}
	p {
		&:not(:last-child) {
			margin: 0 0 25px;
			@include SP {
				margin: 0 0 10px;
			}
		}
		@include font-line-spacing(18,24);
		@include min-screen(768px) {
			@include font-line-spacing(15,23);
		}
		@include min-screen(992px) {
			@include font-line-spacing(18,24);
		}
		@include SP {
			@include font-line-spacing(14,24);
		}
	}
	img{
		max-width:100%;
		height:auto;
		max-height:100%;
		width: auto;
	}
}
