@charset "UTF-8";
.breadcrum {
		@include add_prefix(text-overflow, ellipsis);
		overflow: hidden;
		white-space: nowrap;
		margin: 0 0 30px;
	li {
		display: inline;
		@include font-size(14);
		position: relative;
		&:not(:last-child) {
			padding-right: 20px;
			&:after {
				content: '';
				display: inline-block;
				width: 6px;
				height: 6px;
				border-top: 1px solid #52575b;
				border-right: 1px solid #52575b;
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				position: absolute;
				top: 6px;
				right: 6px;
			}
		}
		a {
			color: #ee3129;
			display: inline-block;
			@include font-size(14);
		}
	}
}
.box-section {
	border: 1px solid #e7e7e7;
	background: #fff;
	padding: 20px;
	@include min-screen(768px) {
		padding: 15px;
	}
	@include min-screen(992px) {
		padding: 20px;
	}
	@include SP {
		padding: 15px;
	}
	.inner-title {
		margin: 27px 0 0;
	}
}
.cmn-title {
	background: #ee3129;
	color: #fff;
	text-align: center;
	@include font-line-spacing(28,30);
	text-align: center;
	max-width: 230px;
	font-weight: 700;
	width: 100%;
	margin: -50px auto 0;
	text-transform: uppercase;
	padding: 10px;
	@include min-screen(768px) {
		@include font-line-spacing(18,20);
		max-width: 160px;
		padding: 5px;
		margin: -30px auto 0;
	}
	@include min-screen(992px) {
		@include font-line-spacing(28,30);
		max-width: 230px;
		padding: 10px;
		margin: -50px auto 0;
	}
	@include SP {
		@include font-line-spacing(18,20);
		max-width: 160px;
		margin: -40px auto 0;
	}
	&--large {
		max-width: 332px;
		@include SP {
			max-width: 250px;
		}
	}
}
.cmn-sub-tit {
	text-transform: uppercase;
	@include font-line-spacing(20,24);
	font-weight: 700;
	@include min-screen(768px) {
		@include font-line-spacing(16,20);
	}
	@include min-screen(992px) {
		@include font-line-spacing(20,24);
	}
	@include SP {
		@include font-line-spacing(16,20);
	}
}
.cmn-txt {
	p {
		@include font-line-spacing(18,24);
		@include min-screen(768px) {
			@include font-line-spacing(14,20);
		}
		@include min-screen(992px) {
			@include font-line-spacing(18,24);
		}
		@include SP {
			@include font-line-spacing(14,20);
		}
		&:not(:last-child) {
			margin: 0 0 25px;
			@include min-screen(768px) {
				margin: 0 0 15px;
			}
			@include min-screen(992px) {
				margin: 0 0 25px;
			}
			@include SP {
				margin: 0 0 10px;
			}
		}
	}
}
.cmn-btn {
	border: 1px solid #ee3129;
	max-width: 150px;
	width: 100%;
	margin: 20px auto 0;
	color: #ee3129;
	display: block;
	text-align: center;
	text-transform: uppercase;
	background: #fff;
	@include font-line-spacing(15,22,25);
	font-weight: 700;
	padding: 6px;
	&--detail {
		max-width: 114px;
		@include font-line-spacing(18,22,25);
		@include min-screen(768px) {
			@include font-size(15);
		}
		@include min-screen(992px) {
			@include font-size(18);
		}
	}
	&--large {
		max-width: 188px;
	}
	@include PC {
		&:hover {
			background: #ee3129;
			color: #fff;
			opacity: 1;
		}
	}
}
.box-article {
	&--item {
		&:not(:last-child) {
			@include SP {
				margin: 0 0 30px;
			}
		}
		figure {
			a {
				display: block;
			}
			img {
				width: 100%;
				display: block;
			}
			&.img-border {
				border: 10px solid #ee3129;
				@include SP {
					border-width: 5px;
				}
			}
		}
		.cmn-sub-tit {
			margin: 20px 0 0;
		}
		.cmn-txt {
			margin: 30px 0 0;
			@include min-screen(768px) {
				margin: 20px 0 0;
			}
			@include min-screen(992px) {
				margin: 30px 0 0;
			}
			@include SP {
				margin: 15px 0 0;
			}
			p {
				&:not(:last-child) {
					margin: 0 0 25px;
					@include min-screen(768px) {
						margin: 0 0 15px;
					}
					@include min-screen(992px) {
						margin: 0 0 25px;
					}
					@include SP {
						margin: 0 0 15px;
					}
				}
			}
		}
	}
}
.cmn-subpage-tit {
	text-transform: uppercase;
	@include font-line-spacing(40,50);
	text-align: center;
	color: #ee3129;
	font-weight: 700;
	margin: 28px 0 0;
	@include min-screen(768px) {
		@include font-line-spacing(26,38);
	}
	@include min-screen(992px) {
		@include font-line-spacing(40,50);
	}
	@include SP {
		@include font-line-spacing(22,28);
		margin: 10px 0 0;
	}
}
.cmn-article-related {
	position: relative;
	margin: -20px -20px -40px;
	&:after {
		content: '';
		width: 1px;
		height: 100%;
		background: #e7e7e7;
		position: absolute;
		left: 50%;
		top: 0;
		@include SP {
			display: none;
		}
	}
	.box-article {
		padding: 20px 20px 30px;
	}
}
.cms-title {
	@include font-line-spacing(27,30);
	text-transform: uppercase;
	font-weight: 700;
	margin: 20px 0 0;
	@include min-screen(768px) {
		@include font-line-spacing(22,25);
	}
	@include min-screen(992px) {
		@include font-line-spacing(27,30);
	}
	@include SP {
		@include font-line-spacing(20,25);
		margin: 15px 0 0;
	}
}
.cmn-article-blocks {
	&-item {
		&:not(:last-child) {
			margin: 0 0 80px;
			@include SP {
				margin: 0 0 40px;
			}
		}
	}
}
.cmn-box-contact {
	background: #ee3129;
	padding: 20px;
	@include min-screen(768px) {
		padding: 15px;
	}
	@include min-screen(992px) {
		padding: 20px;
	}
	@include SP {
		padding: 15px;
	}
	.wpcf7-not-valid-tip,
	.wpcf7-validation-errors {
		color: red;
	}
	.screen-reader-response {
		display: none;
	}
	.cmn-sub-tit {
		color: #fff;
		margin: 25px 0 0;
		@include SP {
			margin: 20px 0 0;
		}
	}
	.b-address {
		color: #fff;
		@include flexbox();
		@include flex-wrap(wrap);
		overflow: hidden;
		margin: 0 -75px;
		padding: 20px 0 0;
		@include min-screen(768px) {
			margin: 0 -50px;
		}
		@include min-screen(992px) {
			margin: 0 -75px;
		}
		@include SP {
			padding: 10px 0 0;
		}
		&-item {
			width: 50%;
			@include font-line-spacing(18,24);
			padding: 0 75px;
			@include min-screen(768px) {
				padding: 0 50px;
			}
			@include min-screen(992px) {
				padding: 0 75px;
			}
			@include SP {
				width: 100%;
				margin: 5px 0;
				@include font-line-spacing(14,20);
			}
		}
	}
	.box-contact-form {
		background: #fff;
		margin: 35px 0 0;
		padding: 10px 10px 20px;
		@include clearfix();
		@include SP {
			margin: 25px 0 0;
			padding: 5px 5px 15px;
		}
		.form-group {
			padding: 10px;
		}
		input,textarea {
			width: 100%;
			height: 50px;
			background: #e7e8e8;
			border: none;
			outline: 0;
			@include font-size(18);
			font-family: Helvetica,Helvetica Neue,Arial,sans-serif; 
			@include SP {
				@include font-size(14);
			}
		}
		input {
			padding: 0 20px;
		}
		textarea {
			padding: 10px 20px;
			height: 190px;
		}
		input[type=submit] {
			max-width: 148px;
			width: 100%;
			height: 35px;
			display: block;
			text-align: center;
			outline: 0;
			border: 1px solid #ee3129;
			margin: 20px 10px 0;
			float: right;
			background: #fff;
			color: #ee3129;
			@include font-line-spacing(15,22);
			font-weight: 700;
			text-transform: uppercase;
			@include transition_c(0.3s);
			@include PC {
				&:hover {
					background: #ee3129;
					color: #fff;
					opacity: 1;
				}
			}
		}
	}
}
.subpage-block {
	padding: 25px 0 0;
	position: relative;
	&--content {
		.content-inner {
			min-height: 765px;
			padding: 20px 24px 40px;
			border: 1px solid #e7e7e7;
			background: #fff;
			&-no-height {
				min-height: auto;
			}
			&:not(:last-child) {
				margin: 0 0 35px;
			}
			@include SP {
				padding: 15px 14px 30px;
			}
			.box-article {
				margin: -15px 0 0;
				&--item {
					padding-top: 15px;
					padding-bottom: 15px;
					.ttl {
						@include clamp(3);
						@include font-line-spacing(17,22);
					}
				}
			}
		}
	}
	&--sidebar {
		position: absolute !important;
		right: -35px;
		@include SP {
			position: static !important;
			margin: 50px 0 0;
		}
		.list-sidebar {
			&--item {
				&:not(:last-child) {
					padding: 0 0 45px;
					@include SP {
						padding: 0 0 20px;
					}
				}
				border-left: 4px solid #ee3129;
				line-height: 0;
				font-size: 0;
				@include SP {
					border-left: none;
				}
				.ttl {
					display: inline-block;
					color: #52575b;
					text-transform: uppercase;
					@include font-line-spacing(22,22);
					position: relative;
					padding: 0 0 0 26px;
					@include min-screen(768px) {
						@include font-size(15);
					}
					@include min-screen(992px) {
						@include font-size(22);
					}
					@include SP {
						@include font-size(18);
						padding: 0 0 0 15px;
					}
					@include PC {
						&:hover {
							color: #ee3129;
							opacity: 1;
						}
					}
					&:before {
						content: '';
						width: 0; 
						height: 0; 
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						border-left: 17px solid #ee3129;
						position: absolute;
						left: 0;
						top: 50%;
						margin-top: -10px;
						@include min-screen(768px) {
							border-top: 7px solid transparent;
							border-bottom: 7px solid transparent;
							border-left: 14px solid #ee3129;
							margin-top: -7px;
						}
						@include min-screen(992px) {
							border-top: 10px solid transparent;
							border-bottom: 10px solid transparent;
							border-left: 17px solid #ee3129;
							margin-top: -10px;
						}
						@include SP {
							border-top: 5px solid transparent;
							border-bottom: 5px solid transparent;
							border-left: 6px solid #ee3129;
							margin-top: -4px;
						}
					}
				}
				.social-list {
					@include flexbox();
					@include align-items(center);
					margin: 0 -2px;
					overflow: hidden;
					padding: 15px 0 0 26px;
					@include SP {
						padding: 10px 0 0 15px;
					}
					li {
						padding: 0 2px;
					}	
				}
			}
			.menu {
				border-left: 4px solid #ee3129;
				@include SP {
					border-left: none;
				}
				li {
					line-height: 0;
					font-size: 0;
					&:not(:last-child) {
						padding: 0 0 45px;
						@include SP {
							padding: 0 0 20px;
						}
					}
					a {
						display: inline-block;
						color: #52575b;
						text-transform: uppercase;
						@include font-line-spacing(22,22);
						position: relative;
						padding: 0 0 0 26px;
						@include min-screen(768px) {
							@include font-size(15);
						}
						@include min-screen(992px) {
							@include font-size(22);
						}
						@include SP {
							@include font-size(18);
							padding: 0 0 0 15px;
						}
						@include PC {
							&:hover {
								color: #ee3129;
								opacity: 1;
							}
						}
						&:before {
							content: '';
							width: 0; 
							height: 0; 
							border-top: 10px solid transparent;
							border-bottom: 10px solid transparent;
							border-left: 17px solid #ee3129;
							position: absolute;
							left: 0;
							top: 50%;
							margin-top: -10px;
							@include min-screen(768px) {
								border-top: 7px solid transparent;
								border-bottom: 7px solid transparent;
								border-left: 14px solid #ee3129;
								margin-top: -7px;
							}
							@include min-screen(992px) {
								border-top: 10px solid transparent;
								border-bottom: 10px solid transparent;
								border-left: 17px solid #ee3129;
								margin-top: -10px;
							}
							@include SP {
								border-top: 5px solid transparent;
								border-bottom: 5px solid transparent;
								border-left: 6px solid #ee3129;
								margin-top: -4px;
							}
						}
					}
				}
			}
		}
	}
}
.cmn-pagenavi {
	text-align: center;
	font-size: 0;
	line-height: 0;
	margin: 32px 0 0;
	@include SP {
		margin: 40px 0 0;
	}
	.pages {
		display: none;
	}
	a,span {
		width: 30px;
		height: 30px;
		display: inline-block;
		line-height: 28px;
		margin: 0 4px;
		@include font-size(13);
		color: #52575b;
		background: #fff;
		border: 1px solid #e7e7e7;
		@include SP {
			margin: 0 2px;
		}
	}
	span.current {
		background: #ee3129;
		color: #fff;
		border-color: transparent;
	}
	span.extend {
		background: none;
		border: none;
	}
	.page {
		@include PC {
			&:hover {
				background: #ee3129;
				color: #fff;
				opacity: 1;
				border-color: transparent;
			}
		}
	}
	.previouspostslink,
	.nextpostslink {
		background: rgba(89,97,108,0.1);
		position: relative;
		text-indent: -99999px;
		border: none;
		background: none;
		&:before {
			content: '';
			display: inline-block;
			width: 14px;
			height: 14px;
			border-top: 2px solid #ee3129;
			border-right: 2px solid #ee3129;
			position: absolute;
			top: 50%;
			margin-top: -7px;
			@include SP {
				width: 11px;
				height: 11px;
				margin-top: -6px;
			}
			@include max-screen(360px) {
				width: 10px;
				height: 10px;
				margin-top: -5px;
			}
		}
		@include PC {
			&:hover {
				background: none;
				opacity: 1;
				&:before {
					border-top: 2px solid #ee3129;
					border-right: 2px solid #ee3129;
				}
			}
		}
	}
	.nextpostslink {
		&:before {
			@include rotate(45);
			left: 16px;
			@include max-screen(360px) {
				left: 10px;
			}
		}
	}
	.previouspostslink {
		&:before {
			@include rotate(-135);
			right: 16px;
			@include max-screen(360px) {
				right: 10px;
			}
		}
	}
}
.cmn-singe-pagination {
	position: relative;
	text-align: center;
	height: 30px;
	@include clearfix();
	a {
		color: #52575b;
		height: 100%;
	}
	.btn {
		position: absolute;
		top: 0;
		width: 170px;
		@include flexbox();
		@include align-items(center);
		span {
			padding: 0 18px;
			@include SP {
				display: none;
			}
		}
		&:before {
			content: '';
			width: 30px;
			height: 30px;
			background: #000;
			display: inline-block;
			position: absolute;
			top: 0;
		}
		&:after {
			content: '';
			display: inline-block;
			width: 9px;
			height: 9px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			position: absolute;
			top: 50%;
			margin-top: -4px;
		}
		&-prev {
			left: 0;
			@include justify-content(flex-start);
			padding: 0 0 0 30px;
			&:before {
				left: 0;
			}
			&:after {
				@include rotate(-135);
				left: 13px;
			}
		}
		&-next {
			right: 0;
			@include justify-content(flex-end);
			padding: 0 30px 0 0;
			&:before {
				right: 0;
			}
			&:after {
				@include rotate(45);
				right: 13px;
			}
		}
	}
	.btn-backlist {
		display: inline-block;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		width: 200px;
		margin: 0 auto;
		span {
			position: relative;
			display: inline-block;
		}
	}
}
.subpage {
	.footer {
		margin: 140px 0 0;
	}
}