@charset 'UTF-8';
.footer {
	background: #ee3129;
	text-align: center;
	margin: 110px 0 0;
	padding: 50px 0;
	@include SP {
		margin: 60px 0 0;
		padding: 30px 0;
	}
	.f-copyright {
		color: #fff;
		@include font-line-spacing(18,22);
		@include min-screen(768px) {
			@include font-size(15);
		}
		@include min-screen(992px) {
			@include font-size(18);
		}
		@include SP {
			@include font-size(14);
		}
	}
	.f-info {
		color: #fff;
		@include font-line-spacing(18,22);
		@include min-screen(768px) {
			@include font-size(15)
		}
		@include min-screen(992px) {
			@include font-size(18);
		}
		@include SP {
			@include font-size(14);
		}
		a {
			color: #fff;
			display: inline-block;
		}
	}
}