@charset 'UTF-8';
.header {
	background: #ee3129;
	@include SP {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
	}
	&-info {
		padding: 50px 0 0;
		position: relative;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(flex-end);
		@include justify-content(space-between);
		@include min-screen(768px) {
			padding: 0;
			@include align-items(center);
			height: 50px;
		}
		@include min-screen(992px) {
			padding: 50px 0 0;
			height: auto;
			@include align-items(flex-end);
		}
		@include SP {
			padding: 0;
			@include align-items(center);
			height: 50px;
		}
	}
	&__social {
		position: absolute;
		right: 0;
		top: 0;
		padding: 15px 0 0;
		@include min-screen(768px) {
			padding: 10px 0 0;
			margin: 0 60px 0 0;
		}
		@include min-screen(992px) {
			padding: 15px 0 0;
			margin: 0;
		}
		@include SP {
			padding: 10px 0 0;
			margin: 0 40px 0 0;
		}
		.list-social {
			@include flexbox();
			@include align-items(center);
			overflow: hidden;
			margin: 0 -10px;
			@include min-screen(768px) {
				margin: 0;
			}
			@include min-screen(992px) {
				margin: 0 -10px;
			}
			@include SP {
				margin: 0;
			}
			li {
				padding: 0 10px;
				@include SP {
					padding: 0 5px;
				}
				img {
					@include SP {
						width: 25px;
					}
				}
			}
		}
	}
	&__logo {
		width: 22%;
		padding: 0 0 15px;
		@include min-screen(768px) {
			padding: 0;
		}
		@include min-screen(992px) {
			padding: 0 0 15px;
			width: 12%;
		}
		@include min-screen(1200px) {
			width: 22%;
		}
		@include SP {
			padding: 0;
		}
		.logo {
			a {
				display: block;
				img {
					@include min-screen(768px) {
						max-width: 100px;
						width: 100%;
					}
					@include min-screen(992px) {
						max-width: 218px;
						width: 100%;
					}
				}
			}
		}
	}
	&__gnavi {
		width: 78%;
		@include min-screen(768px) {
			display: none;
			position: absolute;
			top: 100%;
			width: 100%;
			height: auto;
			overflow-y: auto;
			left: 0;
			background: #fff;
			z-index: 9999;
		}
		@include min-screen(992px) {
			width: 88%;
			display: block !important;
			position: static;
			background: transparent;
		}
		@include min-screen(1200px) {
			width: 78%;
		}
		@include SP {
			display: none;
			position: fixed;
			top: 50px;
			width: 100%;
			height: auto;
			overflow-y: auto;
			left: 0;
			background: #fff;
			z-index: 9999;
		}
		nav {
			float: right;
			@include min-screen(768px) {
				float: none;
			}
			@include min-screen(992px) {
				float: right;
			}
			@include SP {
				float: none;
			}
			.menu {
				font-size: 0;
				line-height: 0;
				li {
					display: inline-block;
					@include min-screen(768px) {
						display: block;
					}
					@include min-screen(992px) {
						display: inline-block;
					}
					@include SP {
						display: block;
					}
					a {
						display: block;
						@include font-line-spacing(15,18);
						color: #fff;
						text-transform: uppercase;
						background: transparent;
						padding: 15px 10px;
						text-align: center;
						font-weight: 700;
						@include PC {
							&:hover {
								opacity: 1;
								background: rgba(255,255,255,0.24);
							}
						}
						@include min-screen(768px) {
							color: #ee3129;
						}
						@include min-screen(992px) {
							color: #fff;
							@include font-line-spacing(12,13);
						}
						@include min-screen(1200px) {
							@include font-line-spacing(15,18);
						}
						@include SP {
							color: #ee3129;
						}
					}
				}
			}
		}
	}
	.menu-btn {
		border: none;
		outline: none;
		cursor: pointer;
		background: #fff;
		z-index: 9999;
		width: 50px;
		height: 50px;
		display: none;
		padding: 18px 0 0 15px;
		@include transition_c(0.3s);
		@include min-screen(768px) {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
		}
		@include min-screen(992px) {
			display: none;
		}
		@include SP {
			display: block;
			position: absolute;
			right: -15px;
			top: 0;
		}
		.burger-icon {
			@include burger(20px,2px,5px,#ee3129);
		}
		&.is-active {
			.burger-icon {
				@include burger-to-cross;
			}
		}
	}
}